<%= render 'friends/lookup' %>

<div id="friend-results">

</div>


<% if !@friends.empty? %>
  <%= render 'friends/list' %>
<% else %>
  <div class="row col-lg-12">
    <p class="lead">You don't have any friends yet. Please add some!</p>
  </div>
<% end %>

